
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #030403;
}
.header_bg{
    background: linear-gradient(180deg, #030403 0%, #A1AD77 171.5%);
}
.navbg{
    background: linear-gradient(270deg, rgba(67, 72, 50, 0.1) 0%, rgba(67, 72, 50, 0.4) 100%);

}

@font-face {
    font-family: normal;
    src: url('./assets/font/glancyr-glancyr-regular-400.ttf');
  }
  
  @font-face {
    font-family: semibold;
    src: url('./assets/font/glancyr-glancyr-semibold-600.ttf');
  }
  
  @font-face {
    font-family: bold;
    src: url('./assets/font/glancyr-glancyr-bold-700.ttf');
  }
  
  @font-face {
    font-family: regulardin;
    src: url('./assets/font/DIN-2014_Regular.otf');
  }
  
  
  
  .bold {
    font-family: bold;
  }
  
  .semibold {
    font-family: semibold;
  }
  
  .normal {
    font-family: normal;
  }
  
  .regular {
    font-family: regulardin;
  }
  .poppins {
    font-family: "Poppins", sans-serif;
  }

  .parallax-layer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .header {
    height: 100vh;

  }
  
  .about {
    height: 100vh;

  }
  
  .work {
    height: 100vh;

  }
  
  /* Optional: Add background images for parallax effect */
  .header {
    background-image: url('path-to-your-header-image.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  .about {
    background-image: url('path-to-your-about-image.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  .work {
    background-image: url('path-to-your-work-image.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  /* Container to enable smooth scrolling and snapping */
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.header_bg {
  scroll-snap-align: start;
}

/* Each section takes up the full viewport height */
.scroll-section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.scroll-container {
  scroll-behavior: smooth;
}